p {
    color: #595b5c;
    margin-top: 5px;
    margin-bottom: 15px;
    line-height: 1.4;
}
h2 {
    color: #0088cc;
    font-family: sans-serif; 
    font-weight: bold;
}
h3 {
    color: #000000;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 5px;
}